*{
   /* border-style: solid;
    border-color: rosybrown;*/
}

body{
background-image: url(./background-sns.jpeg);
background-repeat: no-repeat;
background-size: cover;
color: whitesmoke;
display: flex;
justify-content: center;
}

h1{
font-family: Bangers;
font-size: 80px;
line-height: 85px;
text-align: center;
margin:0px;
-webkit-text-stroke: 1.8px black;
font-style: italic;
}

.content{
    
    color: black;
    background-color: rgb(243, 243, 243, 0.75);
    width: 90vw;
    height: 100vh;
    overflow: auto;
}

input{
    font-size: 20px;
    width: 80%;
    height: fit-content;
    margin-top: 22px;
    margin-left: 20px;
    border-color: black;
    border-style:solid;
    text-align: center;
}


.top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 20px;

}

.box:hover{

transition: 0.7s;
box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}

.results{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

img{
    width: 170px;
    height: 130px;
}

.price{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding:20px;
}

#map{
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
